
<div id="content">

  <div style="text-align: center">

    <div id="connection-warning" style="display: none; margin: 10px; color: red">ERROR CONNECTING TO WEBAPP!</div>

    <% @drops.each do |drop| %>
        <a href="/drop/<%= drop.id %>">
          <div class="thumbnail-pane">
            <img height="200" src="<%= drop.src %>"/>
            <br/>
            <%= drop.created_at %>
            <br/>
            <%= drop.status %>
          </div>
        </a>
    <% end %>
  </div>

  <div style="text-align: center; margin: 20px">
    <% if @drops.empty? %>
      <p>No drops found</p>
    <% else %>
        <% if @page > 1 %>
            <a class="btn" href="/drops?page=<%= @page-1 %>"><< Prev</a>
        <% end %>
        Page <%= @page %> of <%= @pages %>
        <% if @pages > @page %>
            <a href="/drops?page=<%= @page+1 %>">Next >></a>
        <% end %>
    <% end %>
  </div>

</div>

<script>
  <% if @page==1 %>

  $(function () {
    $("#go-all").removeClass("btn-default").addClass("btn-primary");
    setInterval(function () {
      $.ajax({
        url: '/last_drop_image',
        method: 'GET',
        success: function (resp) {
          $("#connection-warning").hide();
          $("#content").show();
          if (resp.length!=0 && resp.src != '<%= @last_drop_src %>') {
            window.location.reload();
          }
        },
        error: function (resp) {
          $("#connection-warning").show();
          $("#content").hide();
        }
      })
    }, 1000);
  });

  <% end %>
</script>

