<div style="text-align: center">

  <% if @drop %>
      <h3><%= @drop.created_at %></h3>
      <img height=300 src="<%= "../#{@drop.src}" %>"/>
      <%= form_tag("/drop/#{@drop.id}/save", method: 'POST') do %>
          <%= label_tag(:name, 'Name:') %>
          <%= text_field_tag(:name, @drop.name) %>
          <br/>
          <%= label_tag(:email, 'Email:') %>
          <%= text_field_tag(:email, @drop.email) %>
          <br/>
          <%= label_tag(:send_by_email, 'Email this image to visitor') %>
          <%= check_box_tag(:send_by_email, @drop.send_by_email) %>
          <br/>
          <%= label_tag(:twitter, 'Twitter:') %>
          <%= text_field_tag(:twitter, @drop.twitter) %>
          <br/>
          <%= label_tag(:share_by_twitter, 'Tweet this image') %>
          <%= check_box_tag(:share_by_twitter, @drop.share_by_twitter) %>
          <br/>
          <%= label_tag(:tag_twitter_user, 'Tag with Twitter username') %>
          <%= check_box_tag(:tag_twitter_user, @drop.tag_twitter_user) %>
          <br/>
          <%= button_tag('Discard', type: 'button', id: 'discard') %>
          <%= submit_tag('Save') %>
      <% end %>
  <% else %>
      <h1>No drop found</h1>
  <% end %>
</div>

<script>

  $(function(){
    $("#discard").click(function() {
      if ( window.confirm("Discard this image?") ) {
        $.ajax({
          url: '/drop/<%= @drop.id %>/discard',
          method: 'POST',
          success: function(resp) {
            window.location = '/drops'
          },
          error: function(resp) {
            window.alert(resp);
          }
        });
      }
    });
  });

</script>
