<table cellspacing="0">
  <% @drops.each do |drop| %>
      <tr>
        <td>
          <div class="timestamp">
            <a href="/drop/<%= drop.id %>">
              <%= drop.created_at %>
              <br/>
              <%= drop.status %>
            </a>
          </div>
        </td>
        <td>
          <div class="thumbnail-pane">
            <% if drop.primary_snap %>
                <img height="200" src="<%= drop.primary_snap.filename %>"/>
            <% else %>
                <% drop.snaps.each do |image| %>
                    <img height="200" src="<%= image.filename %>"/>
                <% end %>
            <% end %>
          </div>
        </td>
      </tr>
  <% end %>
</table>


